* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body {
    font-family: 'Antonio', sans-serif;
    background: rgb(8,7,7);
    background: linear-gradient(0deg, rgba(8,7,7,1) 0%, rgba(174,1,42,1) 54%, rgba(80,110,170,1) 100%);
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,
h2{
    color: white;
}

h2 {
   text-align: center;
   text-transform: uppercase;
}

span {
    color: red;
}
